body{
    background: linear-gradient(#ffccff,#ff99cc,#ff66cc);
    background-size:100%;
    height:100%;
    background-attachment:fixed;
    font-family: 'Comfortaa', cursive;
}
#list{
    border-width:2px;
    width:200px;
    height:170px;
    border-color:black;
    border-style:solid;
}
